@page "/contact"

<div class="contact page-content">
	<header class="contact-header">
		<h1>Contact Me</h1>
		<p class="tagline">I am not actively looking for work but I am willing to consider contracts, email me if you are interested in my services.</p>
	</header>

	<section class="contact-info">
		<div class="info-group">
			<h3>Contact Info:</h3>
			<div class="info-item">
			</div>
			<div class="info-item">
				<strong>Email</strong>
				<p><a class="email-link" href="mailto:bctrippe@gmail.com">bctrippe@gmail.com</a></p>
			</div>
			<div class="info-item">
				<strong>Phone</strong>
				<p><a class="phone-link" href="tel:+17703669871">(770) 366-9871</a></p>
			</div>
		</div>
	</section>
</div>
